Flask
bcrypt
blinker
certifi
cffi
click
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
six
SQLAlchemy
Werkzeug
WTForms
Flask-Migrate
Flask-Script
Flask-Cors
requests
mysqlclient
pika
wolframalpha
itsdangerous==2.0.1
